recursive-include src/new_pyprojects/template/___PROJECT_NAME *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/(F:TESTS) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/(F:TESTS)/tests *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI)/cli *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI)/cli/(F:CLIGROUP) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI)/cli/(F:CLIGROUP)/commands *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI)/cli/(F:CLIGROUP)/commands/(F:API) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:CLI)/cli/(F:CLICOMMAND) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:API) *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:API)/api *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/(F:API)/api/routers *
recursive-include src/new_pyprojects/template/___PROJECT_NAME/src/___PROCESSED_NAME/utils *
